/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background:#374047;
}


.feedback{
    width: 100%;
    max-width: 780px;
    background:  linear-gradient(45deg, #d615a0, #ffb283);
    margin: 0 auto;
    padding: 15px;
    box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}
.survey-hr{
    margin:10px 0;
    border: .5px solid #ddd;
  }
.feedback form textarea{
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.feedback form input{
  width: 20%;
  border: 1px solid #ddd;
  background-color: #060e54;
  padding: 15px;
  color: white;
  border-radius: 15px;
}


.rating-box {
  position: relative;
  background: #fff;
  padding: 25px 50px 35px;
  border-radius: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.rating-box header {
  font-size: 22px;
  color: #dadada;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}
.rating-box .stars {
  display: flex;
  align-items: center;
  gap: 25px;
}
.stars i {
  color: #e6e6e6;
  font-size: 35px;
  cursor: pointer;
  transition: color 0.2s ease;
}
.stars i.active {
  color: #ff9c1a;
}